# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Deploy to NPM

on:
    release:
        types: [created]

jobs:
    build:
        name: Build and Document
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v6
              with:
                  node-version: 24.x

            - name: Setup
              run: npm ci

            - name: Build
              run: npm run build

            - name: Store builds
              uses: actions/upload-artifact@v5
              with:
                  name: build
                  path: lib

    test:
        name: Test
        needs: build

        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [20.x, 22.x, 24.x]

        steps:
            - uses: actions/checkout@v5
            - uses: actions/download-artifact@v6
              with:
                  name: build
                  path: lib

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: npm

            - name: Setup
              run: npm ci

            - name: Test
              run: npm run test

    publish-npm:
        name: Public Release
        needs: test

        runs-on: ubuntu-latest
        permissions:
            id-token: write

        if: ${{ !github.event.release.prerelease }}

        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v6
              with:
                  node-version: 24.x
                  registry-url: https://registry.npmjs.org/
            - uses: actions/download-artifact@v6
              with:
                  name: build
                  path: lib

            - run: npm install -g npm@latest

            - name: Give me 1 minute to reconsider my life actions
              run: sleep 60s

            - name: Ok, now publish it
              run: npm publish

    preview-npm:
        name: Beta Release
        needs: test

        runs-on: ubuntu-latest
        permissions:
            id-token: write

        if: ${{ github.event.release.prerelease }}

        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v6
              with:
                  node-version: 24.x
                  registry-url: https://registry.npmjs.org/
            - uses: actions/download-artifact@v6
              with:
                  name: build
                  path: lib

            - run: npm install -g npm@latest

            - name: Set package version to prerelease tag
              run: npm version --no-git-tag-version ${GITHUB_REF/refs\/tags\//}

            - name: Beta Release
              run: npm publish --tag beta

    web-release:
        name: Deploy website
        needs: publish-npm

        uses: ./.github/workflows/web-release.yml
        secrets: inherit
        with:
            tag_name: ${{ github.event.release.tag_name }}
